.icon32{
    background: transparent url(../img/icon.png) no-repeat !important;    
}
.icon32_adv{
    background: transparent url(../img/icon_adv.png) no-repeat !important;    
}
#icl_theme_localization input{
    font-size: 80%;
}

#icl_tl_scan_stats{
    display: none;
    font-size:10px;
}