#lang_sel {height:32px; font-family:arial, sans-serif;}
/* hack to correct IE5.5 faulty box model */
* html #lang_sel {width:12em; w\idth:12em;}
/* remove all the bullets, borders and padding from the default list styling */
#lang_sel ul, #lang_sel li {padding:0 !important; margin:0 !important; list-style-type:none !important;}
#lang_sel li:before{content:'' !important;}
#lang_sel ul ul {width:100%;}
/* float the list to make it horizontal and a relative positon so that you can control the dropdown menu positon */
#lang_sel li {float:left;width:100%;position:relative;}
/* style the links for the top level */
#lang_sel a, #lang_sel a:link, #lang_sel a:visited {
	display:block;
	/*background: #fcfcfc;*/
	font-size:12px;
	text-decoration:none !important; 
	color:#fff; 
	border:1px solid #000;
	height: 16px;
	line-height:16px;
	border-top: 1px solid #e1e1e1;
	border-right: 1px solid #c8c8c8;
	border-bottom: 1px solid #bfbfbf;
	border-left: 1px solid #e1e1e1;
	padding: 5px 10px;
	font: normal bold 12px Verdana, sans-serif;
	}
/* a hack so that IE5.5 faulty box model is corrected */
* html #lang_sel a, * html #lang_sel a:link, * html #lang_sel a:visited {width:100%; w\idth:100%;}

/* hide the sub levels and give them a positon absolute so that they take up no room */
#lang_sel ul ul {visibility:hidden;position:absolute;height:0;top:28px;left:0; width:100%;border-top:0;}
/* another hack for IE5.5 */
* html #lang_sel ul ul {top:28px;t\op:28px;}

/* style the table so that it takes no ppart in the layout - required for IE to work */
#lang_sel table {position:absolute; top:0; left:0; border-collapse:collapse;}

/* style the second level links */
#lang_sel ul ul a, #lang_sel ul ul a:link, #lang_sel ul ul a:visited {
	font-weight: normal;
	/*font-size: 11px;*/
	background:#eee; 
	color:#000 !important; 
	/*height:auto; line-height:1em; */
	/*padding:3px 10px;*/
	border-width:0 1px 1px 1px;
	height: 20px;
	line-height: 20px;
	/*width: 146px;*/
	}
/* yet another hack for IE5.5 */
* html #lang_sel ul ul a, * html #lang_sel ul ul a:visited {width:100%;w\idth:100%;}

/* style the top level hover */
#lang_sel a:hover, #lang_sel ul ul a:hover{color:#000; background:#ccc;}
#lang_sel :hover > a, #lang_sel ul ul :hover > a {color:#000; background:#ccc;}

#lang_sel a.lang_sel_sel{
    background:url(../images/nav-arrow-down.png) #fcfcfc right no-repeat;
    color: #bfbfbf;
}
#lang_sel a.lang_sel_sel:hover{
    text-decoration: none;
    /*color:#000;*/
}

/* make the second level visible when hover on first level list OR link */
#lang_sel ul li:hover ul,
#lang_sel ul a:hover ul{visibility:visible; }


#lang_sel ul li img {
	position: relative;
	margin: 0;
	padding: 0;
	margin-right: -6px;
	border: 1px solid #bfbfbf;
	top: 2px;
}

#lang_sel ul li ul li img {
	margin-right: -2px;
}